/* Basic menu bar styling */
nav {
  background-color: Black;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
* {
			margin-right:20px;
			margin-left:10px;
            text-decoration: none;
}
  #home-details a {
            color: #12AD2B;
        
        }
		.headco
		{
		color:#12AD2B
		}
		.latest
		{
		color:Blue;
		}
	.unavailable {
            color:maroon;
        }
.unavailablee {
            color: red;
            font-weight: bold;
}
.custom-box {
	  margin-right:10px;
	  margin-left:20px;
	  margin-top:5px;
	  text-align:center;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      background-color: #f8f8f8;
    }
.email-box {
	  margin-right:20px;
	  margin-left:100px;
	  margin-top:5px;
	  text-align:center;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      background-color: #f8f8f8;
    }

	.containerr {
      display: flex;
    }

    .box {
	margin-top:5px;
	margin-left:70px;
	text-align:center;
      width: 7cm;
      height: 7cm;
      border: 3px solid #000; /* border for visualization, you can adjust or remove it */
      margin-right: 10px; /* adjust margin as needed */
    }


	/*blinking*/
	@keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    .blinking-text {
      animation: blink 2s infinite;
	  color:red /*rgb(255, 0, 255)*/;
	  margin-left:20px;
    }



  /* Apply blinking animation to the image */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blinking {
    animation: blink 2s infinite;
  }

/*Quiz CSS STARTED*/
/* Add this to aviii.css */

/* Target elements within the quiz container */
.app {
  background-color:#fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

#quiz-detailss {
    background-color:#001e4d;
}
#qbody{
  background-color:white;
}
#bg{
  background-color: #001e4d;
}
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

 .quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color:#001e4d;
  font-weight: 600;
}
#qbody h3{
 text-align: center;
}
#bg p{
  color:white;
  text-align: center;
  font-size: 20px;
}
#bg h4{
  text-align: center;
  font-size: 20px;
}

#qbody p{
  font-size: 15px;
  font-style: bold;
  color:red;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

 .btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}
 .btn:disabled{
  cursor: no-drop;
}

 #next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

#quiz-details .correct {
  background: #9aeabc;
}

#quiz-details .incorrect {
  background: #ff9393;
}
