/* Basic menu bar styling */
nav {
  background-color: Black;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
* {
			margin-right:20px;
			margin-left:10px;
            text-decoration: none;
        }

/*body {
	margin-top:40px;
    background-image: url('agrtp.png'); /* Replace 'path-to-your-image' with the correct relative path or URL
    background-size: cover;s
    background-position: center;
    background-repeat: no-repeat;
	opacity:1;
}*/

  #home-details a {
            color: #12AD2B;
        
        }
		.headco
		{
		color:#12AD2B
		}
		.latest
		{
		color:Blue;
		}
	.unavailable {
            color:maroon;
        }
.unavailablee {
            color: red;
            font-weight: bold;
}
.custom-box {
	  margin-right:10px;
	  margin-left:20px;
	  margin-top:5px;
	  text-align:center;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      background-color: #f8f8f8;
    }
.email-box {
	  margin-right:20px;
	  margin-left:100px;
	  margin-top:5px;
	  text-align:center;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      background-color: #f8f8f8;
    }

	.containerr {
      display: flex;
    }

    .box {
	margin-top:5px;
	margin-left:70px;
	text-align:center;
      width: 7cm;
      height: 7cm;
      border: 3px solid #000; /* border for visualization, you can adjust or remove it */
      margin-right: 10px; /* adjust margin as needed */
    }


	/*blinking*/
	@keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    .blinking-text {
      animation: blink 2s infinite;
	  color:red /*rgb(255, 0, 255)*/;
	  margin-left:20px;
    }


	/*BLinking image-----ANG.Jpeg*/
	.image-container {
    display: flex;
    justify-content:;
    align-items:;
    margin-top: 20px; /* Adjust the margin as needed */
  }

  /* Apply blinking animation to the image */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blinking {
    animation: blink 2s infinite;
  }

  /*Quiz CSS STARTED*/
 
     /* Quiz CSS STARTED */
.qat {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quiz-container {
  display:none; /* Initially hide the quiz container */
}

#quiz-details .qbody {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #0083bb;
}

.quizz-containerr{
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 200px;
}



.quiz-container,
.result-container {
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 400px;
}

.qbody h2 {
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 16px;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

#quiz-details .actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

#quiz-details button {
  background-color: #33a1eb;
  border: none;
  color: #fff;
  display: block;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  padding: 10px;
}

#prev {
  background-color: #858585;
}

#submit,
#result,
#reload {
  display: none;
}

.disabled {
  opacity: 0.6;
}

.wrong {
  background-color: #feb2b2;
  padding: 0 20px;
}

.correct {
  background-color: #74e5a5;
  padding: 0 20px;
}

